[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twbs/bootstrap.git
	branch = main
[submodule "lib/react"]
	path = lib/react
	url = https://github.com/facebook/react.git
	branch = main
[submodule "lib/react-bootstrap"]
	path = lib/react-bootstrap
	url = https://github.com/react-bootstrap/react-bootstrap.git
[submodule "lib/ui"]
	path = lib/ui
	url = https://github.com/react-restart/ui.git
	branch = main
[submodule "lib/hooks"]
	path = lib/hooks
	url = https://github.com/react-restart/hooks.git
[submodule "lib/context"]
	path = lib/context
	url = https://github.com/react-restart/context.git
[submodule "lib/drawio"]
	path = lib/drawio
	url = https://github.com/jgraph/drawio.git
	branch = dev
[submodule "lib/cytoscape.js"]
	path = lib/cytoscape.js
	url = https://github.com/cytoscape/cytoscape.js.git
	branch = unstable
