<header class="navbar navbar-expand-md navbar-dark qal-navbar">
  <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <a class="navbar-brand p-0 me-2" href="/" aria-label="Bootstrap">
      {{ partial "icons/bootstrap-white-fill.svg" (dict "class" "d-block my-1" "width" "40" "height" "32") }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      {{ partial "icons/hamburger.svg" (dict "class" "bi" "width" "32" "height" "32") }}
    </button>
    <div class="collapse navbar-collapse" id="bdNavbar">
      <ul class="navbar-nav flex-row flex-wrap qal-navbar-nav pt-2 py-md-0">
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2{{ if .IsHome }} active" aria-current="page{{ end }}" href="/">Home</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2{{ if eq .Page.Layout "docs" }} active" aria-current="true{{ end }}" href="/docs/getting-started/introduction/">Docs</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2{{ if eq .Page.Title "Apps" }} active" aria-current="true{{ end }}" href="/apps/">Apps</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.icons }}" target="_blank" rel="noopener">Icons</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.themes }}" target="_blank" rel="noopener">Themes</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.blog }}" target="_blank" rel="noopener">Blog</a>
        </li>
      </ul>
      <hr class="d-md-none text-white-50">
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.github_org }}" target="_blank" rel="noopener">
            {{ partial "icons/github.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">GitHub</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank" rel="noopener">
            {{ partial "icons/twitter.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Twitter</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.slack }}" target="_blank" rel="noopener">
            {{ partial "icons/slack.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Slack</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2" href="{{ .Site.Params.opencollective }}" target="_blank" rel="noopener">
            {{ partial "icons/opencollective.svg" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
            <small class="d-md-none ms-2">Open Collective</small>
          </a>
        </li>
      </ul>
      <a class="btn btn-qal-download d-lg-inline-block my-2 my-md-0 ms-md-3" href="/docs/getting-started/download/">Download</a>
    </div>
  </nav>
</header>




<main>
  <h1 class="visually-hidden">Sidebars examples</h1>

  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div class="qal-app-divider"></div>

  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div class="qal-app-divider"></div>

  <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip" data-bs-placement="right">
      <svg class="bi" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="visually-hidden">Icon-only</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"/></svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Dashboard"><use xlink:href="#speedometer2"/></svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Orders"><use xlink:href="#table"/></svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Products" data-bs-toggle="tooltip" data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Products"><use xlink:href="#grid"/></svg>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3 border-bottom" title="Customers" data-bs-toggle="tooltip" data-bs-placement="right">
          <svg class="bi" width="24" height="24" role="img" aria-label="Customers"><use xlink:href="#people-circle"/></svg>
        </a>
      </li>
    </ul>
    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div class="qal-app-divider"></div>

  <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Home
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Overview</a></li>
            <li><a href="#" class="link-dark rounded">Updates</a></li>
            <li><a href="#" class="link-dark rounded">Reports</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Dashboard
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Overview</a></li>
            <li><a href="#" class="link-dark rounded">Weekly</a></li>
            <li><a href="#" class="link-dark rounded">Monthly</a></li>
            <li><a href="#" class="link-dark rounded">Annually</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Orders
        </button>
        <div class="collapse" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">New</a></li>
            <li><a href="#" class="link-dark rounded">Processed</a></li>
            <li><a href="#" class="link-dark rounded">Shipped</a></li>
            <li><a href="#" class="link-dark rounded">Returned</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">New...</a></li>
            <li><a href="#" class="link-dark rounded">Profile</a></li>
            <li><a href="#" class="link-dark rounded">Settings</a></li>
            <li><a href="#" class="link-dark rounded">Sign out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="qal-app-divider"></div>

  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">List group</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
      <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small>Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>

      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Wed</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a>
    </div>
  </div>

  <div class="qal-app-divider"></div>
</main>





<div class="leftside-menu menuitem-active">
  <a href="index.html" class="logo text-center logo-light">
      <span class="logo-lg">
          <img src="assets/images/logo.png" alt="" height="16">
      </span>
      <span class="logo-sm">
          <img src="assets/images/logo_sm.png" alt="" height="16">
      </span>
  </a>
  <a href="index.html" class="logo text-center logo-dark">
      <span class="logo-lg">
          <img src="assets/images/logo-dark.png" alt="" height="16">
      </span>
      <span class="logo-sm">
          <img src="assets/images/logo_sm_dark.png" alt="" height="16">
      </span>
  </a>
  <div class="h-100 show" id="leftside-menu-container" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
      <!--- Sidemenu -->
      <ul class="side-nav">

          <li class="side-nav-title side-nav-item">Navigation</li>

          <li class="side-nav-item menuitem-active">
              <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                  <i class="uil-home-alt"></i>
                  <span class="badge bg-success float-end">4</span>
                  <span> Dashboards </span>
              </a>
              <div class="collapse show" id="sidebarDashboards">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="dashboard-analytics.html">Analytics</a>
                      </li>
                      <li>
                          <a href="dashboard-crm.html">CRM</a>
                      </li>
                      <li class="menuitem-active">
                          <a href="index.html" class="active">Ecommerce</a>
                      </li>
                      <li>
                          <a href="dashboard-projects.html">Projects</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-title side-nav-item">Apps</li>

          <li class="side-nav-item">
              <a href="apps-calendar.html" class="side-nav-link">
                  <i class="uil-calender"></i>
                  <span> Calendar </span>
              </a>
          </li>

          <li class="side-nav-item">
              <a href="apps-chat.html" class="side-nav-link">
                  <i class="uil-comments-alt"></i>
                  <span> Chat </span>
              </a>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false" aria-controls="sidebarEcommerce" class="side-nav-link">
                  <i class="uil-store"></i>
                  <span> Ecommerce </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarEcommerce">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="apps-ecommerce-products.html">Products</a>
                      </li>
                      <li>
                          <a href="apps-ecommerce-products-details.html">Products Details</a>
                      </li>
                      <li>
                          <a href="apps-ecommerce-orders.html">Orders</a>
                      </li>
                      <li>
                          <a href="apps-ecommerce-orders-details.html">Order Details</a>
                      </li>
                      <li>
                          <a href="apps-ecommerce-customers.html">Customers</a>
                      </li>
                      <li>
                          <a href="apps-ecommerce-shopping-cart.html">Shopping Cart</a>
                      </li>
                      <li>
                          <a href="apps-ecommerce-checkout.html">Checkout</a>
                      </li>
                      <li>
                          <a href="apps-ecommerce-sellers.html">Sellers</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false" aria-controls="sidebarEmail" class="side-nav-link">
                  <i class="uil-envelope"></i>
                  <span> Email </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarEmail">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="apps-email-inbox.html">Inbox</a>
                      </li>
                      <li>
                          <a href="apps-email-read.html">Read Email</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarProjects" aria-expanded="false" aria-controls="sidebarProjects" class="side-nav-link">
                  <i class="uil-briefcase"></i>
                  <span> Projects </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarProjects">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="apps-projects-list.html">List</a>
                      </li>
                      <li>
                          <a href="apps-projects-details.html">Details</a>
                      </li>
                      <li>
                          <a href="apps-projects-gantt.html">Gantt <span class="badge rounded-pill badge-light-lighten font-10 float-end">New</span></a>
                      </li>
                      <li>
                          <a href="apps-projects-add.html">Create Project <span class="badge rounded-pill badge-success-lighten font-10 float-end">New</span></a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a href="apps-social-feed.html" class="side-nav-link">
                  <i class="uil-rss"></i>
                  <span> Social Feed </span>
              </a>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarTasks" aria-expanded="false" aria-controls="sidebarTasks" class="side-nav-link">
                  <i class="uil-clipboard-alt"></i>
                  <span> Tasks </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarTasks">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="apps-tasks.html">List</a>
                      </li>
                      <li>
                          <a href="apps-tasks-details.html">Details</a>
                      </li>
                      <li>
                          <a href="apps-kanban.html">Kanban Board</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a href="apps-file-manager.html" class="side-nav-link">
                  <i class="uil-folder-plus"></i>
                  <span> File Manager </span>
              </a>
          </li>

          <li class="side-nav-title side-nav-item">Custom</li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarPages" aria-expanded="false" aria-controls="sidebarPages" class="side-nav-link">
                  <i class="uil-copy-alt"></i>
                  <span> Pages </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarPages">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="pages-profile.html">Profile</a>
                      </li>
                      <li>
                          <a href="pages-profile-2.html">Profile 2</a>
                      </li>
                      <li>
                          <a href="pages-invoice.html">Invoice</a>
                      </li>
                      <li>
                          <a href="pages-faq.html">FAQ</a>
                      </li>
                      <li>
                          <a href="pages-pricing.html">Pricing</a>
                      </li>
                      <li>
                          <a href="pages-maintenance.html">Maintenance</a>
                      </li>
                      <li class="side-nav-item">
                          <a data-bs-toggle="collapse" href="#sidebarPagesAuth" aria-expanded="false" aria-controls="sidebarPagesAuth">
                              <span> Authentication </span>
                              <span class="menu-arrow"></span>
                          </a>
                          <div class="collapse" id="sidebarPagesAuth">
                              <ul class="side-nav-third-level">
                                  <li>
                                      <a href="pages-login.html">Login</a>
                                  </li>
                                  <li>
                                      <a href="pages-login-2.html">Login 2</a>
                                  </li>
                                  <li>
                                      <a href="pages-register.html">Register</a>
                                  </li>
                                  <li>
                                      <a href="pages-register-2.html">Register 2</a>
                                  </li>
                                  <li>
                                      <a href="pages-logout.html">Logout</a>
                                  </li>
                                  <li>
                                      <a href="pages-logout-2.html">Logout 2</a>
                                  </li>
                                  <li>
                                      <a href="pages-recoverpw.html">Recover Password</a>
                                  </li>
                                  <li>
                                      <a href="pages-recoverpw-2.html">Recover Password 2</a>
                                  </li>
                                  <li>
                                      <a href="pages-lock-screen.html">Lock Screen</a>
                                  </li>
                                  <li>
                                      <a href="pages-lock-screen-2.html">Lock Screen 2</a>
                                  </li>
                                  <li>
                                      <a href="pages-confirm-mail.html">Confirm Mail</a>
                                  </li>
                                  <li>
                                      <a href="pages-confirm-mail-2.html">Confirm Mail 2</a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      <li class="side-nav-item">
                          <a data-bs-toggle="collapse" href="#sidebarPagesError" aria-expanded="false" aria-controls="sidebarPagesError">
                              <span> Error </span>
                              <span class="menu-arrow"></span>
                          </a>
                          <div class="collapse" id="sidebarPagesError">
                              <ul class="side-nav-third-level">
                                  <li>
                                  <a href="pages-404.html">Error 404</a>
                              </li>
                              <li>
                                  <a href="pages-404-alt.html">Error 404-alt</a>
                              </li>
                              <li>
                                  <a href="pages-500.html">Error 500</a>
                              </li>
                              </ul>
                          </div>
                      </li>
                      <li>
                          <a href="pages-starter.html">Starter Page</a>
                      </li>
                      <li>
                          <a href="pages-preloader.html">With Preloader</a>
                      </li>
                      <li>
                          <a href="pages-timeline.html">Timeline</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a href="landing.html" target="_blank" class="side-nav-link">
                  <i class="uil-globe"></i>
                  <span class="badge bg-secondary text-light float-end">New</span>
                  <span> Landing </span>
              </a>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarLayouts" aria-expanded="false" aria-controls="sidebarLayouts" class="side-nav-link">
                  <i class="uil-window"></i>
                  <span> Layouts </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarLayouts">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="layouts-horizontal.html">Horizontal</a>
                      </li>
                      <li>
                          <a href="layouts-detached.html">Detached</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-title side-nav-item mt-1">Components</li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarBaseUI" aria-expanded="false" aria-controls="sidebarBaseUI" class="side-nav-link">
                  <i class="uil-box"></i>
                  <span> Base UI </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarBaseUI">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="ui-accordions.html">Accordions</a>
                      </li>
                      <li>
                          <a href="ui-alerts.html">Alerts</a>
                      </li>
                      <li>
                          <a href="ui-avatars.html">Avatars</a>
                      </li>
                      <li>
                          <a href="ui-badges.html">Badges</a>
                      </li>
                      <li>
                          <a href="ui-breadcrumb.html">Breadcrumb</a>
                      </li>
                      <li>
                          <a href="ui-buttons.html">Buttons</a>
                      </li>
                      <li>
                          <a href="ui-cards.html">Cards</a>
                      </li>
                      <li>
                          <a href="ui-carousel.html">Carousel</a>
                      </li>
                      <li>
                          <a href="ui-dropdowns.html">Dropdowns</a>
                      </li>
                      <li>
                          <a href="ui-embed-video.html">Embed Video</a>
                      </li>
                      <li>
                          <a href="ui-grid.html">Grid</a>
                      </li>
                      <li>
                          <a href="ui-list-group.html">List Group</a>
                      </li>
                      <li>
                          <a href="ui-modals.html">Modals</a>
                      </li>
                      <li>
                          <a href="ui-notifications.html">Notifications</a>
                      </li>
                      <li>
                          <a href="ui-offcanvas.html">Offcanvas</a>
                      </li>
                      <li>
                          <a href="ui-pagination.html">Pagination</a>
                      </li>
                      <li>
                          <a href="ui-popovers.html">Popovers</a>
                      </li>
                      <li>
                          <a href="ui-progress.html">Progress</a>
                      </li>
                      <li>
                          <a href="ui-ribbons.html">Ribbons</a>
                      </li>
                      <li>
                          <a href="ui-spinners.html">Spinners</a>
                      </li>
                      <li>
                          <a href="ui-tabs.html">Tabs</a>
                      </li>
                      <li>
                          <a href="ui-tooltips.html">Tooltips</a>
                      </li>
                      <li>
                          <a href="ui-typography.html">Typography</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarExtendedUI" aria-expanded="false" aria-controls="sidebarExtendedUI" class="side-nav-link">
                  <i class="uil-package"></i>
                  <span> Extended UI </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarExtendedUI">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="extended-dragula.html">Dragula</a>
                      </li>
                      <li>
                          <a href="extended-range-slider.html">Range Slider</a>
                      </li>
                      <li>
                          <a href="extended-ratings.html">Ratings</a>
                      </li>
                      <li>
                          <a href="extended-scrollbar.html">Scrollbar</a>
                      </li>
                      <li>
                          <a href="extended-scrollspy.html">Scrollspy</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a href="widgets.html" class="side-nav-link">
                  <i class="uil-layer-group"></i>
                  <span> Widgets </span>
              </a>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarIcons" aria-expanded="false" aria-controls="sidebarIcons" class="side-nav-link">
                  <i class="uil-streering"></i>
                  <span> Icons </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarIcons">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="icons-dripicons.html">Dripicons</a>
                      </li>
                      <li>
                          <a href="icons-mdi.html">Material Design</a>
                      </li>
                      <li>
                          <a href="icons-unicons.html">Unicons</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarForms" aria-expanded="false" aria-controls="sidebarForms" class="side-nav-link">
                  <i class="uil-document-layout-center"></i>
                  <span> Forms </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarForms">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="form-elements.html">Basic Elements</a>
                      </li>
                      <li>
                          <a href="form-advanced.html">Form Advanced</a>
                      </li>
                      <li>
                          <a href="form-validation.html">Validation</a>
                      </li>
                      <li>
                          <a href="form-wizard.html">Wizard</a>
                      </li>
                      <li>
                          <a href="form-fileuploads.html">File Uploads</a>
                      </li>
                      <li>
                          <a href="form-editors.html">Editors</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarCharts" aria-expanded="false" aria-controls="sidebarCharts" class="side-nav-link">
                  <i class="uil-chart"></i>
                  <span> Charts </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarCharts">
                  <ul class="side-nav-second-level">
                      <li class="side-nav-item">
                          <a data-bs-toggle="collapse" href="#sidebarApexCharts" aria-expanded="false" aria-controls="sidebarApexCharts">
                              <span> Apex Charts </span>
                              <span class="menu-arrow"></span>
                          </a>
                          <div class="collapse" id="sidebarApexCharts">
                              <ul class="side-nav-third-level">
                                  <li>
                                      <a href="charts-apex-area.html">Area</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-bar.html">Bar</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-bubble.html">Bubble</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-candlestick.html">Candlestick</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-column.html">Column</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-heatmap.html">Heatmap</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-line.html">Line</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-mixed.html">Mixed</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-pie.html">Pie</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-radar.html">Radar</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-radialbar.html">RadialBar</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-scatter.html">Scatter</a>
                                  </li>
                                  <li>
                                      <a href="charts-apex-sparklines.html">Sparklines</a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      <li>
                          <a href="charts-brite.html">Britecharts</a>
                      </li>
                      <li>
                          <a href="charts-chartjs.html">Chartjs</a>
                      </li>
                      <li>
                          <a href="charts-sparkline.html">Sparklines</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarTables" aria-expanded="false" aria-controls="sidebarTables" class="side-nav-link">
                  <i class="uil-table"></i>
                  <span> Tables </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarTables">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="tables-basic.html">Basic Tables</a>
                      </li>
                      <li>
                          <a href="tables-datatable.html">Data Tables</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarMaps" aria-expanded="false" aria-controls="sidebarMaps" class="side-nav-link">
                  <i class="uil-location-point"></i>
                  <span> Maps </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarMaps">
                  <ul class="side-nav-second-level">
                      <li>
                          <a href="maps-google.html">Google Maps</a>
                      </li>
                      <li>
                          <a href="maps-vector.html">Vector Maps</a>
                      </li>
                  </ul>
              </div>
          </li>

          <li class="side-nav-item">
              <a data-bs-toggle="collapse" href="#sidebarMultiLevel" aria-expanded="false" aria-controls="sidebarMultiLevel" class="side-nav-link">
                  <i class="uil-folder-plus"></i>
                  <span> Multi Level </span>
                  <span class="menu-arrow"></span>
              </a>
              <div class="collapse" id="sidebarMultiLevel">
                  <ul class="side-nav-second-level">
                      <li class="side-nav-item">
                          <a data-bs-toggle="collapse" href="#sidebarSecondLevel" aria-expanded="false" aria-controls="sidebarSecondLevel">
                              <span> Second Level </span>
                              <span class="menu-arrow"></span>
                          </a>
                          <div class="collapse" id="sidebarSecondLevel">
                              <ul class="side-nav-third-level">
                                  <li>
                                      <a href="javascript: void(0);">Item 1</a>
                                  </li>
                                  <li>
                                      <a href="javascript: void(0);">Item 2</a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      <li class="side-nav-item">
                          <a data-bs-toggle="collapse" href="#sidebarThirdLevel" aria-expanded="false" aria-controls="sidebarThirdLevel">
                              <span> Third Level </span>
                              <span class="menu-arrow"></span>
                          </a>
                          <div class="collapse" id="sidebarThirdLevel">
                              <ul class="side-nav-third-level">
                                  <li>
                                      <a href="javascript: void(0);">Item 1</a>
                                  </li>
                                  <li class="side-nav-item">
                                      <a data-bs-toggle="collapse" href="#sidebarFourthLevel" aria-expanded="false" aria-controls="sidebarFourthLevel">
                                          <span> Item 2 </span>
                                          <span class="menu-arrow"></span>
                                      </a>
                                      <div class="collapse" id="sidebarFourthLevel">
                                          <ul class="side-nav-forth-level">
                                              <li>
                                                  <a href="javascript: void(0);">Item 2.1</a>
                                              </li>
                                              <li>
                                                  <a href="javascript: void(0);">Item 2.2</a>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
          </li>
      </ul>

      <!-- Help Box -->
      <div class="help-box text-white text-center">
          <a href="javascript: void(0);" class="float-end close-btn text-white">
              <i class="mdi mdi-close"></i>
          </a>
          <img src="assets/images/help-icon.svg" height="90" alt="Helper Icon Image">
          <h5 class="mt-3">Unlimited Access</h5>
          <p class="mb-3">Upgrade to plan to get access to unlimited reports</p>
          <a href="javascript: void(0);" class="btn btn-outline-light btn-sm">Upgrade</a>
      </div>
      <!-- end Help Box -->
      <!-- End Sidebar -->

      <div class="clearfix"></div>

  </div></div></div></div><div class="simplebar-placeholder" style="width: 260px; height: 1612px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 504px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div></div>
  <!-- Sidebar -left -->

</div>