<aside class="qal-sidebar">
  <div class="offcanvas-lg offcanvas-start" id="qalSidebar" aria-labelledby="qalSidebarOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="qalSidebarOffcanvasLabel">Browse docs</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#qalSidebar"></button>
    </div>
    <div class="offcanvas-body">
      <nav class="qal-links w-100" id="qal-docs-nav" aria-label="Docs navigation">
        {{- $url := split .Permalink "/" -}}
        {{- $u := index $url (sub (len $url) 2) -}}
        <ul class="qal-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
        {{- range $g := .Site.Data.sidebar -}}
          {{- $gu := $g.title | urlize -}}
          {{- $on := eq $.Page.Params.group $gu -}}
          {{- if $g.pages }}
            <li class="qal-links-group py-2">
              <strong class="qal-links-heading d-flex w-100 align-items-center fw-semibold">
                {{- if $g.icon }}
                  <svg class="bi me-2"{{- if $g.icon_color }} style="color: var(--bs-{{ $g.icon_color }});"{{- end }} aria-hidden="true"><use xlink:href="#{{ $g.icon }}"></use></svg>
                {{- end }}
                {{ $g.title }}
              </strong>
              <ul class="list-unstyled fw-normal pb-2 small">
                {{- range $p := $g.pages -}}
                  {{- $pu := $p.title | urlize -}}
                  {{- $on2 := and $on (eq $u $pu) -}}
                  {{- $r := printf "/docs/%s/%s/" $gu $pu }}
                  <li><a href="{{ $r }}" class="qal-links-link d-inline-block rounded{{ if $on2 }} active{{ end }}"{{ if $on2 }} aria-current="page"{{ end }}>{{ $p.title }}</a></li>
                {{- end }}
              </ul>
            </li>
          {{- else }}
            <li class="qal-links-span-all mt-1 mb-3 mx-4 border-top"></li>
            <li class="qal-links-span-all">
              <a href="/{{ $gu }}/" class="qal-links-link d-inline-block rounded small {{ if $on }} active{{ end }}"{{ if $on }} aria-current="page"{{ end }}>
                {{ $g.title }}
              </a>
            </li>
          {{- end }}
        {{- end }}
        </ul>
      </nav>
    </div>
  </div>
</aside>
