{{- $l := .Get "lang" | default "html" -}}
{{- $p := .Get "show_preview" | default true -}}
{{- $m := .Get "show_markup" | default true -}}
{{- $i := .Inner -}}
{{- if eq $p true -}}
  <div{{ with .Get "id" }} id="{{ . }}"{{ end }} class="qal-example{{ with .Get "class" }} {{ . }}{{ end }}">
    {{- $i -}}
  </div>
{{- end -}}
{{- if eq $m true -}}
  {{- $x := replaceRE `<svg class="bd\-placeholder\-img(?:\-lg)?(?: *?bd\-placeholder\-img\-lg)? ?(.*?)".*?<\/svg>\n` `<img src="..." class="$1" alt="...">` $i -}}
  {{- $x = replaceRE ` (class=" *?")` "" $x -}}
  {{- highlight (trim $x "\n") $l "" -}}
{{- end -}}
