{{- $n := .Get "name" -}}
{{- $f := .Get "file" -}}
{{- $strip := .Get "strip-default" | default "true" -}}
{{- $start := printf "// scss-docs-start %s\n" $n -}}
{{- $end := printf "// scss-docs-end %s" $n -}}
{{- $re := printf `%s((?:.|\n)*)%s` $start $end -}}
{{- $css := readFile (printf "bootstrap/%s" $f) -}}
{{- $match := findRE $re $css -}}
{{- $match = index $match 0 -}}
{{- if not $match -}}
  {{- errorf "%s: %q: Got no matches for %q in %q!" .Position .Name $n $f -}}
{{- end -}}
{{- $match = replace $match $start "" -}}
{{- $match = replace $match $end "" -}}
{{- if (ne $strip "false") -}}
  {{- $match = replace $match " !default" "" -}}
{{- end -}}
{{- highlight $match "scss" "" -}}
