<!doctype html>
{{ block "html" . }}<html lang="en">{{ end }}
  {{ block "head" . }}<head>{{ partial "head" . }}</head>{{ end }}
  {{ block "body" . }}<body>{{ end }}
    {{ partial "skippy" . }}
    {{ block "nav" . }}{{ end }}
    {{ block "main" . }}{{ .Content }}{{ end }}
    {{ block "footer" . }}<footer class="qal-footer py-5 bg-light">{{ end }}
      {{ partial "foot" . }}
    </footer>
    {{ if ne .Page.Params.include_js false -}}
      {{ partial "scripts" . }}
    {{- end }}
  </body>
</html>
