<ul class="navbar-nav flex-row flex-wrap qal-navbar-nav pt-2 py-md-0">
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2{{ if .IsHome }} active" aria-current="page{{ end }}" href="/">Home</a>
  </li>
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2{{ if eq .Page.Layout "docs" }} active" aria-current="true{{ end }}" href="/docs/getting-started/introduction/">Docs</a>
  </li>
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2{{ if eq .Page.Title "Examples" }} active" aria-current="true{{ end }}" href="/apps/">Examples</a>
  </li>
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2" href="{{ .Site.Params.icons }}" target="_blank" rel="noopener">Icons</a>
  </li>
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2" href="{{ .Site.Params.themes }}" target="_blank" rel="noopener">Themes</a>
  </li>
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2" href="{{ .Site.Params.blog }}" target="_blank" rel="noopener">Blog</a>
  </li>
</ul>
<hr class="d-md-none text-white-50">
<ul class="navbar-nav flex-row flex-wrap ms-md-auto">
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2" href="{{ .Site.Params.github_org }}" target="_blank" rel="noopener">
      {{ partial "icons/github" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
      <small class="d-md-none ms-2">GitHub</small>
    </a>
  </li>
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank" rel="noopener">
      {{ partial "icons/twitter" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
      <small class="d-md-none ms-2">Twitter</small>
    </a>
  </li>
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2" href="{{ .Site.Params.slack }}" target="_blank" rel="noopener">
      {{ partial "icons/slack" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
      <small class="d-md-none ms-2">Slack</small>
    </a>
  </li>
  <li class="nav-item col-6 col-md-auto">
    <a class="nav-link p-2" href="{{ .Site.Params.opencollective }}" target="_blank" rel="noopener">
      {{ partial "icons/opencollective" (dict "class" "navbar-nav-svg d-inline-block align-text-top" "width" "36" "height" "36") }}
      <small class="d-md-none ms-2">Open Collective</small>
    </a>
  </li>
</ul>
<a class="btn btn-qal-download d-lg-inline-block my-2 my-md-0 ms-md-3" href="/docs/getting-started/download/">Download</a>
