<nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
  {{- $url := split .Permalink "/" -}}
  {{- $slug := index $url (sub (len $url) 2) -}}
  <ul class="list-unstyled mb-0 py-3 pt-md-1">
  {{- range $g := .Site.Data.sidebar -}}
    {{- $link := $g.title -}}
    {{- $lslug := $link | urlize -}}
    {{- if $g.pages -}}
      {{- $link = index $g.pages 0 -}}
      {{- $lslug = $link.title | urlize -}}
    {{- end -}}
    {{- $gslug := $g.title | urlize -}}
    {{- $is_gactive := eq $.Page.Params.group $gslug -}}
    {{- if $g.pages }}
      <li class="mb-1">
        <button class="btn d-inline-flex align-items-center rounded{{ if not $is_gactive }} collapsed{{ end }}" data-bs-toggle="collapse" data-bs-target="#{{ $gslug }}-collapse" aria-expanded="{{ $is_gactive }}"{{ if $is_gactive }} aria-current="true"{{ end }}>
          {{ $g.title }}
        </button>
        <div class="collapse{{ if $is_gactive }} show{{ end }}" id="{{ $gslug }}-collapse">
          <ul class="list-unstyled fw-normal pb-1 small">
            {{- range $p := $g.pages -}}
              {{- $pslug := $p.title | urlize -}}
              {{- $is_active := and $is_gactive (eq $slug $pslug) -}}
              {{- $href := printf "/docs/%s/%s/" $gslug $pslug }}
              <li><a href="{{ $href }}" class="d-inline-flex align-items-center rounded{{ if $is_active }} active{{ end }}"{{ if $is_active }} aria-current="page"{{ end }}>{{ $p.title }}</a></li>
            {{- end }}
          </ul>
        </div>
      </li>
    {{- else }}
      <li class="my-3 mx-4 border-top"></li>
      <li><a href="/docs/{{ $gslug }}/" class="d-inline-flex align-items-center rounded{{ if $is_gactive }} active{{ end }}"{{ if $is_gactive }} aria-current="page"{{ end }}>{{ $g.title }}</a>
      </li>
    {{- end }}
  {{- end }}
  </ul>
</nav>
