// Buttons
//
// Custom buttons for the docs.

.btn-qal-primary {
  font-weight: 600;
  color: $white;
  background-color: $qal-purple-bright;
  border-color: $qal-purple-bright;

  &:hover,
  &:active {
    color: $white;
    background-color: shade-color($qal-purple-bright, 20%);
    border-color: shade-color($qal-purple-bright, 20%);
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($qal-purple-bright, .25);
  }
}

.btn-qal-download {
  font-weight: 600;
  color: $qal-download;
  border-color: $qal-download;

  &:hover,
  &:active {
    color: $qal-dark;
    background-color: $qal-download;
    border-color: $qal-download;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($qal-download, .25);
  }
}

.btn-qal-light {
  color: $gray-600;
  border-color: $gray-300;

  .show > &,
  &:hover,
  &:active {
    color: $qal-purple-bright;
    background-color: $white;
    border-color: $qal-purple-bright;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($qal-purple-bright, .25);
  }
}
